
@{ ViewData["Title"] = "Thông báo";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <h1 style="border; text-align:center" >Thanh toán thành công!</h1>
                        <h3>Đơn hàng đã được thanh toán thành công, vui lòng kiểm tra email để nhận mã hóa đơn của bạn. </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
