
@{ ViewData["Title"] = "Thông báo";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <h1 style="text-align:center; border">Thanh toán không thành công!</h1>
                        <h3> Đơn hàng của bạn đã được tiếp nhận, chúng tôi sẽ gởi mail xác nhận thông tin đơn hàng cho bạn </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
