
@{
    ViewData["Title"] = "ProductsCart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                            <td><a href="#"><img src="img/man/polo-shirt-1.png" alt="img"></a></td>
                                            <td><a class="aa-cart-title" href="#">HONDA CBR 1000RR</a></td>
                                            <td>450.000.000 VNĐ</td>
                                            <td><input class="aa-cart-quantity" type="number" value="1"></td>
                                            <td>450.000.000 VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                            <td><a href="#"><img src="img/man/polo-shirt-2.png" alt="img"></a></td>
                                            <td><a class="aa-cart-title" href="#">BMW S1000RR</a></td>
                                            <td>500.000.000 VNĐ</td>
                                            <td><input class="aa-cart-quantity" type="number" value="2"></td>
                                            <td>1.000.000.000 VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                            <td><a href="#"><img src="img/man/polo-shirt-1.png" alt="img"></a></td>
                                            <td><a class="aa-cart-title" href="#">HONDA CBR 1000RR</a></td>
                                            <td>450.000.000 VNĐ</td>
                                            <td><input class="aa-cart-quantity" type="number" value="1"></td>
                                            <td>450.000.000 VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="aa-cart-view-bottom">
                                                <div class="aa-cart-coupon">
                                                    <input class="aa-coupon-code" type="text" placeholder="Mã giảm giá">
                                                    <input class="aa-cart-view-btn" type="submit" value="Nhập mã giảm giá">
                                                </div>
                                                <input class="aa-cart-view-btn" type="submit" value="Cập nhật giỏ hàng">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Tổng tiền</th>
                                        <td>1.900.000.000</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="aa-cart-view-btn" href="" data-toggle="modal" data-target="#checkout-modal">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
