.bg-gradient-primary {
    background-color: #4e73df;
    /* background-image: linear-gradient( 180deg,#66ff99 10%,#66ff99 100%);*/
    background-image: url(/img/Background/login-background.png.jpg);
    background-size: cover;
}
.btn-primary {
    color: #fff;
    background-color: #ff6666;
    border-color: #ff6666;
}
.bg-login-image {
    background: url(../img/img1.gif);
    background-position: center; 
    background-size: cover;
}
.bg-register-image {
    background: url(../img/img1.gif);
    background-position: center;
    background-size: cover;
}
.btn-primary:hover {
    color: #fff;
    background-color: #66ff99;
    border-color: #66ff99;
}
.justify-content-center {
    justify-content: center !important;
    margin-top: 200px;

}
.o-hidden {
    background: rgba(44,62,80,0.7);
    overflow: hidden !important;
}
.text-gray-900 {
    color: #ff6666 !important;
}
.small, small {
    font-size: 15px;
    font-weight: 400;
}
a {
    color: #ff6666;
    text-decoration: none;
    background-color: transparent;
}

